.container {
    font-family: Arial;
    display: flex;
    color: aqua;
    border-bottom: 2px solid #808df8;
}

.menu {
    display: flex;
    flex-direction: row;
    color: #a6b4fb;
    /* padding-top: 1.25rem;
    padding: 8px;
    align-items: center;
    line-height: 2rem; */
}

.name {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #6266f1;
    border-radius: .75rem;
    border: 2px solid gray;
    font-size: 24px;
    font-family: sans-serif;
    padding: 1.25rem;
    margin: 0px, 20px, 0px, 0px;
}

.project {
    margin: 0px, 20px, 0px, 0px;
    padding: 4px;
    font-size: 24px;
}

.about {
    margin: 0px, 20px, 0px, 0px;
    padding: 4px;
    font-size: 24px;
}

.resume {
    margin: 0px, 20px, 0px, 0px;
    padding: 4px;
    font-size: 24px;
}

.blog {
    margin: 0px, 20px, 0px, 0px;
    padding: 4px;
    font-size: 24px;
}

.contact {
    margin: 0px, 20px, 0px, 0px;
    padding: 4px;
    font-size: 24px;
}

article {
    font-family: Arial;
    color: #808df8;
}

.nothing {
    text-align: center;
    font-size: 4.5rem;
    line-height: 1;
    font-family: sans-serif;
    vertical-align: baseline;
}

.trust {
    text-align: center;
    font-size: 3.75rem;
    line-height: 1;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: sans-serif;
    vertical-align: baseline;
}

.make {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: sans-serif;
    vertical-align: baseline;
}

.keep {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: sans-serif;
    vertical-align: baseline;
}

.be {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: sans-serif;
    vertical-align: baseline;
}

.face1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2.5rem;
    font-family: sans-serif;
    vertical-align: baseline;
}

.face2{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2.5rem;
    font-family: sans-serif;
    vertical-align: baseline;
}

.face3{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2.5rem;
    font-family: sans-serif;
    vertical-align: baseline;
}

.dot{
    text-align: center;
    opacity: 0.999512;
    transform: translateY(0.0097656px) translateZ(0px);
    font-size: 100%;
    font-family: sans-serif;
    vertical-align: baseline;
}